<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lyracons_megamenu>
            <general>
                <disable_default_menu>1</disable_default_menu>
                <used_megamenu>main-navigation</used_megamenu>
                <active_rtl>0</active_rtl>
            </general>
        </lyracons_megamenu>
    </default>
</config>